
/LojaVirtual/build/gfv3ee6.dpf
/LojaVirtual/build/lib/sqljdbc4.jar
/LojaVirtual/build/lojavirtual-ejb.jar
/LojaVirtual/dist/LojaVirtual.ear
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/gfv3ee6.dpf
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/lojavirtualcliente/Main.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/lib/sqljdbc4.jar
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb.jar
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/.netbeans_automatic_build
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/.netbeans_update_resources
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/META-INF/MANIFEST.MF
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/META-INF/beans.xml
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/META-INF/persistence.xml
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/br/edu/fasa/LojaVirtual/Repositorios.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/br/edu/fasa/LojaVirtual/RepositoriosBean.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/br/edu/fasa/LojaVirtual/dataAccess/ClienteDAO.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/br/edu/fasa/LojaVirtual/dataAccess/GenericDAO.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/br/edu/fasa/LojaVirtual/dataAccess/ProdutoDAO.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/br/edu/fasa/LojaVirtual/dataAccess/VendaDAO.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/br/edu/fasa/LojaVirtual/domainModel/Cliente.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/br/edu/fasa/LojaVirtual/domainModel/ClienteRepository.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/br/edu/fasa/LojaVirtual/domainModel/Cliente_.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/br/edu/fasa/LojaVirtual/domainModel/Produto.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/br/edu/fasa/LojaVirtual/domainModel/ProdutoRepository.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/br/edu/fasa/LojaVirtual/domainModel/Produto_.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/br/edu/fasa/LojaVirtual/domainModel/Repository.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/br/edu/fasa/LojaVirtual/domainModel/Venda.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/br/edu/fasa/LojaVirtual/domainModel/VendaItem.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/br/edu/fasa/LojaVirtual/domainModel/VendaItem_.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/br/edu/fasa/LojaVirtual/domainModel/VendaRepository.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/br/edu/fasa/LojaVirtual/domainModel/Venda_.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/resouces.res
/LojaVirtual/lojavirtual-ejb/build/classes/br/edu/fasa/LojaVirtual/Repositorios.class
/LojaVirtual/lojavirtual-ejb/build/classes/br/edu/fasa/LojaVirtual/RepositoriosBean.class
/LojaVirtual/lojavirtual-ejb/build/classes/br/edu/fasa/LojaVirtual/Servicos.class
/LojaVirtual/lojavirtual-ejb/build/classes/br/edu/fasa/LojaVirtual/ServicosBean.class
/LojaVirtual/lojavirtual-ejb/build/classes/br/edu/fasa/LojaVirtual/dataAccess/ClienteDAO.class
/LojaVirtual/lojavirtual-ejb/build/classes/br/edu/fasa/LojaVirtual/dataAccess/GenericDAO.class
/LojaVirtual/lojavirtual-ejb/build/classes/br/edu/fasa/LojaVirtual/dataAccess/ProdutoDAO.class
/LojaVirtual/lojavirtual-ejb/build/classes/br/edu/fasa/LojaVirtual/dataAccess/VendaDAO.class
/LojaVirtual/lojavirtual-ejb/build/classes/br/edu/fasa/LojaVirtual/domainModel/Cliente.class
/LojaVirtual/lojavirtual-ejb/build/classes/br/edu/fasa/LojaVirtual/domainModel/ClienteRepository.class
/LojaVirtual/lojavirtual-ejb/build/classes/br/edu/fasa/LojaVirtual/domainModel/Cliente_.class
/LojaVirtual/lojavirtual-ejb/build/classes/br/edu/fasa/LojaVirtual/domainModel/Produto.class
/LojaVirtual/lojavirtual-ejb/build/classes/br/edu/fasa/LojaVirtual/domainModel/ProdutoRepository.class
/LojaVirtual/lojavirtual-ejb/build/classes/br/edu/fasa/LojaVirtual/domainModel/Produto_.class
/LojaVirtual/lojavirtual-ejb/build/classes/br/edu/fasa/LojaVirtual/domainModel/Repository.class
/LojaVirtual/lojavirtual-ejb/build/classes/br/edu/fasa/LojaVirtual/domainModel/Venda.class
/LojaVirtual/lojavirtual-ejb/build/classes/br/edu/fasa/LojaVirtual/domainModel/VendaItem.class
/LojaVirtual/lojavirtual-ejb/build/classes/br/edu/fasa/LojaVirtual/domainModel/VendaItem_.class
/LojaVirtual/lojavirtual-ejb/build/classes/br/edu/fasa/LojaVirtual/domainModel/VendaRepository.class
/LojaVirtual/lojavirtual-ejb/build/classes/br/edu/fasa/LojaVirtual/domainModel/Venda_.class
/LojaVirtual/lojavirtual-ejb/dist/lojavirtual-ejb.jar
/LojaVirtualCliente/build/jar/META-INF/MANIFEST.MF
/LojaVirtualCliente/build/jar/META-INF/application-client.xml
/LojaVirtualCliente/build/jar/META-INF/beans.xml
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/ServiceLocator.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/console/Main.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmClientes$1.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmClientes$2.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmClientes$3.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmClientes.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmNovaVenda.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmPrincipal$1.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmPrincipal$2.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmPrincipal$3.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmPrincipal$4.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmPrincipal$5.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmPrincipal.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmProdutos.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmVendas.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/frmLojaVirtual.class
/LojaVirtualCliente/build/jar/gfv3ee6.dpf
/LojaVirtualCliente/build/jar/lojavirtualcliente/Main.class
/LojaVirtualCliente/build/jar/lojavirtualcliente/frmClientes.class
/LojaVirtualCliente/build/jar/lojavirtualcliente/frmNovaVenda.class
/LojaVirtualCliente/build/jar/lojavirtualcliente/frmPrincipal$1.class
/LojaVirtualCliente/build/jar/lojavirtualcliente/frmPrincipal$2.class
/LojaVirtualCliente/build/jar/lojavirtualcliente/frmPrincipal.class
/LojaVirtualCliente/build/jar/lojavirtualcliente/frmProdutos.class
/LojaVirtualCliente/build/jar/lojavirtualcliente/frmVendas.class
/LojaVirtualCliente/build/jar/tmp/ServiceLocator.class
/LojaVirtualCliente/dist/LojaVirtualCliente.jar
/LojaVirtualCliente/dist/LojaVirtualClienteClient.jar
/LojaVirtualCliente/dist/LojaVirtualClienteClient/LojaVirtualCliente.jar
/LojaVirtualCliente/dist/LojaVirtualClienteClient/LojaVirtualClienteClient.jar
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/ServiceLocator.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/console/Main.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmClientes$1.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmClientes$2.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmClientes$3.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmClientes$4.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmClientes$5.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmClientes$6.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmClientes.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmNovaVenda$1.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmNovaVenda.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmPrincipal$1.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmPrincipal$2.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmPrincipal$3.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmPrincipal$4.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmPrincipal$5.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmPrincipal.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmProdutos$1.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmProdutos$2.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmProdutos$3.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmProdutos$4.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmProdutos$5.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmProdutos$6.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmProdutos.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmVendas$1.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmVendas$2.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmVendas$3.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmVendas$4.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmVendas$5.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmVendas$6.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmVendas$7.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmVendas$8.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmVendas.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/br/edu/fasa/LojaVirtual/presentation/frmLojaVirtual.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/lojavirtualcliente/frmClientes.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/lojavirtualcliente/frmNovaVenda.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/lojavirtualcliente/frmPrincipal$1.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/lojavirtualcliente/frmPrincipal$2.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/lojavirtualcliente/frmPrincipal.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/lojavirtualcliente/frmProdutos.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/lojavirtualcliente/frmVendas.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/LojaVirtualCliente_jar/tmp/ServiceLocator.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/br/edu/fasa/LojaVirtual/Servicos.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/br/edu/fasa/LojaVirtual/ServicosBean.class
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/br/edu/fasa/LojaVirtual/domainModel/Cliente.rapt
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/br/edu/fasa/LojaVirtual/domainModel/Produto.rapt
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/br/edu/fasa/LojaVirtual/domainModel/Venda.rapt
/LojaVirtual/dist/gfdeploy/LojaVirtual/lojavirtual-ejb_jar/br/edu/fasa/LojaVirtual/domainModel/VendaItem.rapt
/LojaVirtual/lojavirtual-ejb/build/classes/br/edu/fasa/LojaVirtual/domainModel/Cliente.rapt
/LojaVirtual/lojavirtual-ejb/build/classes/br/edu/fasa/LojaVirtual/domainModel/Produto.rapt
/LojaVirtual/lojavirtual-ejb/build/classes/br/edu/fasa/LojaVirtual/domainModel/Venda.rapt
/LojaVirtual/lojavirtual-ejb/build/classes/br/edu/fasa/LojaVirtual/domainModel/VendaItem.rapt
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmClientes$4.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmClientes$5.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmClientes$6.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmNovaVenda$1.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmProdutos$1.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmProdutos$2.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmProdutos$3.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmProdutos$4.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmProdutos$5.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmProdutos$6.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmVendas$1.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmVendas$2.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmVendas$3.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmVendas$4.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmVendas$5.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmVendas$6.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmVendas$7.class
/LojaVirtualCliente/build/jar/br/edu/fasa/LojaVirtual/presentation/desktop/frmVendas$8.class
/LojaVirtualWeb/nbproject/private/
/LojaVirtualWeb/build/
/LojaVirtualWeb/dist/